<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
            android:name=".TransApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Chenyi">
        <activity
                android:name=".activity.main.VocabularyActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.other.StarWordActivity"
                android:exported="false" />
        <activity
                android:name=".activity.index.LoginActivity"
                android:exported="true" />
        <activity
                android:name=".activity.index.RegisterActivity"
                android:exported="true" />
        <activity
                android:name=".activity.main.ListenActivity"
                android:exported="true" />
        <activity
                android:name=".test.TestActivity"
                android:exported="true" />

        <service
                android:name=".service.ListenService"
                android:enabled="true"
                android:exported="true" />
        <service
                android:name=".service.VoiceService"
                android:enabled="true"
                android:exported="true" />

        <activity
                android:name=".activity.other.UserActivity"
                android:exported="true" />
        <activity
                android:name=".activity.main.LearnActivity"
                android:exported="true" />
        <activity
                android:name=".activity.main.TransActivity"
                android:exported="true" />
        <activity
                android:name=".activity.index.IndexActivity"
                android:exported="true" />
        <activity
                android:name=".activity.main.MainActivity"
                android:exported="true" />
    </application>

</manifest>