<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Exp"
            tools:targetApi="31">
        <activity
                android:name=".FirstActivity"
                android:exported="true"
                android:theme="@style/Theme.AppCompat">
            <!--            注意：XML方式下，theme要改为如上才能正常运行-->
            <!--            <intent-filter>-->
            <!--                &lt;!&ndash;                设置为应用的MAIN活动&ndash;&gt;-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
            <intent-filter>
                <!--                配置隐式意图-->
                <action android:name="cn.edu.ncu.cyy.FirstActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.Exp">
            <intent-filter>
                <!--                设置为应用的MAIN活动&ndash;&gt;-->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>