<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
            android:name="android.permission.INTERNET"
            tools:ignore="WrongManifestParent" />

    <application
        android:name=".Model_Handler_Image.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Chenyi">
        <activity
                android:name=".Model_Handler_Image.MainActivity"
                android:exported="true" />
        <activity
                android:name=".daily_word_app.ui.ResultActivity"
                android:exported="true" />
        <activity
                android:name=".daily_word_app.ui.DemoActivity"
                android:exported="true" />
        <activity
                android:name=".daily_word_app.ui.QuizActivity"
                android:exported="true" />
        <activity
                android:name=".daily_word_app.ui.MainActivity"
                android:exported="true" />
        <activity
                android:name=".daily_word_app.ui.LoginActivity"
                android:exported="true" />
        <activity
                android:name=".jump2.FirstActivity"
                android:exported="true"
                android:launchMode="singleTop" />
        <activity
                android:name=".jump2.SecondActivity"
                android:exported="true"
                android:launchMode="singleTop" />
        <activity
                android:name=".jump2.MainActivity"
                android:exported="true"
                android:launchMode="singleTop" />
        <activity
                android:name=".jump.FirstActivity"
                android:exported="true"
                android:launchMode="singleTop" />
        <activity
                android:name=".jump.SecondActivity"
                android:exported="true"
                android:launchMode="singleTop" />
        <activity
                android:name=".jump.MainActivity"
                android:exported="true"
                android:launchMode="singleTop" />
        <activity
                android:name=".log.MainActivity"
                android:exported="true" />
        <activity
                android:name=".memo.MemoEditActivity"
                android:exported="false" />
        <activity
                android:name=".memo.MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.Chenyi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>